<form action="/" method="get">
  <input name="session" class="session-name" type="text" placeholder="Enter a session name..."/>
</form>
<br />

<ul>
  <% sessions.keys.each do |session_name| %>
    <li>
      <a href="/?session=<%= session_name %>" alt="<%= session_name %>">
        <%= session_name %>
      </a>
    </li>
  <% end %>
</ul>
