<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro Timer</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  </head>

  <body>

    <div id="permission-request">
      Looks like you haven't enabled desktop notifications,
      <a href='#' id="permission-request">click here to enable</a>
    </div>

    <form id='form' action='/' method='post'>
      <label for="name">Name:</label>
      <input id="name" name="name" type="text"/>
      <label for="timer">Minutes:</label>
      <input id="minutes" name="minutes" type="number" value="25"/>
      <input id="notificationTime" name="notificationTime" type="hidden"/>
      <input type="submit" value="Start"/>
    </form>

    <p>Showing a notification in <span id="countdown">x</span> seconds...</p>

    <script src="jquery.js"></script>
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> %>
    <script> var notificationTime = parseInt(<%= notificationTime %>); </script>
    <script src="application.js"></script>

  </body>

</html>
