<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro Timer</title>
    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  </head>

  <body>

    <div id="permission-request">
      Looks like you haven't enabled desktop notifications,
      <a href='#' id="permission-request">click here to enable</a>
    </div>

    <h1>Pomodoro Timer</h1>

    <div id="countdown">x</div>

    <form id='form' action='/' method='post' class="form-inline">
      <label for="timer">
        <input id="minutes" name="minutes" type="number" value="25" class="input-mini"/>
        Minutes
      </label>
      <input id="notificationTime" name="notificationTime" type="hidden"/>
      <br />
      <input id="toggle" type="submit" value="Start" class="btn"/>
    </form>

    <%# <p>Showing a notification in <span id="countdown">x</span> minutes...</p> %>

    <script src="jquery.js"></script>
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script> %>

    <script> var serverNotificationTime = parseInt(<%= notificationTime %>); </script>
    <script src="application.js"></script>

  </body>

</html>
