<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro Timer</title>
    <link href='http://fonts.googleapis.com/css?family=Wendy+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheet.css" />
  </head>

  <body>

    <div id="permission-request">
      Looks like you haven't enabled desktop notifications,
      <a href='#' id="permission-request">click here to enable</a>
    </div>

    <h1>Pomodoro Timer</h1>

    <div id="countdown">x</div>

    <div>
      <label for="timer">
        <input id="minutes" name="minutes" type="number" value="25"/>
        Minutes
      </label>
      <br />
      <button id="toggle">Start</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="http://js.pusher.com/1.12/pusher.min.js"></script>

    <script>
      var Pomodoro = {};
      Pomodoro.serverNotificationTime = parseInt(<%= notification_time %>);
    </script>

    <script src="Notifications.js"></script>
    <script src="Timer.js"></script>
    <script src="application.js"></script>

  </body>

</html>
