<form action="/" method="get">
  <input name="session" class="session-name" type="text" autofocus="autofocus" placeholder="Enter a session name..."/>
</form>
<br />

<% if sessions.any? %>
  <h2>Or pick an existing session</h2>
  <ul>
    <% sessions.each do |key, session| %>
      <li>
        <a href="/?session=<%= key %>" alt="<%= session.name %>">
          <%= session.name %>
        </a>
        <form class="destroy" method="post" action="/<%= key %>">
          <input type="hidden" name="_method" value="delete"/>
          <button class="destroy" type="submit">&times;</button>
        </form>
      </li>
    <% end %>
  </ul>
<% end %>
