<div id="countdown"></div>

<div id="controls">
  <label for="timer">
    <input id="minutes" name="minutes" type="number" value="25" min="0" step="5"/>
    Minutes
  </label>
  <br />
  <button id="toggle">Start</button>
</div>


<% content_for :javascripts do %>
  <script>
    Pomodoro = {
      applicationName: "Pomodoro Timer",
      session: {
        name: "<%= session.name %>"
      }
    }
  </script>

  <%= js :application %>

<% end %>
