<div id="countdown"></div>

<div id="controls">
  <label for="timer">
    <input id="minutes" name="minutes" type="number" value="25" min="0" step="5"/>
    Minutes
  </label>
  <br />
  <button id="toggle">Start</button>
</div>

<% content_for :javascripts do %>
  <script src="/js/lib/piecon.min.js"></script>
  <script src="/js/lib/progressbar.min.js"></script>

  <script>
    var Pomodoro = {
      applicationName: "Pomodoro Timer",
      session: {
        name: "<%= session.name %>"
      }
    };

    Piecon.setOptions({
      color: '#ff0000',
      background: '#bbb',
      shadow: '#fff',
      fallback: false
    });

    progressBar = new ProgressBar.Circle('#countdown', {
      duration: 200,
      color: "#FF0000",
      trailColor: "#ddd"
    });
  </script>

  <script src="/js/notifications.js"></script>
  <script src="/js/timer.js"></script>
  <script src="/js/application.js"></script>
<% end %>
