html,body {
  height:100%;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
}
h1 {
  font-size: 64px;
  margin: 0px 0px;
  color: #F00;
  height: 15%;
  line-height: 70px;
  box-sizing: border-box;
  padding-top: 20px;
  a, a:visited, a:hover {
    color: #F00;
    text-decoration: none;
  }
}
h2 {
  color: #888;
}
a, a:visited {
  color: #000;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
label {
  font-size: 25px;
}
input,button {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: #444;
}

div#permission-request {
  display: none;
  background-color: rgba(252, 48, 40, 0.75);
  line-height: 50px;
  font-size: 18px;
  text-align: center;
}
