body {
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
}
h1 {
  font-family: 'Wendy One', cursive;
  font-size: 64px;
  text-shadow: #DDD 2px 2px 3px;
  margin: 30px 0px;
  color: #F00;
}
h2 {
  color: #888;
}
div#permission-request {
  display: none;
  background-color: rgba(252, 48, 40, 0.75);
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 3px 3px #888;
}
label {
  font-size: 25px;
}
input,button {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  font-size: 20px;
  color: #333;
}
ul {
  list-style-type: none;
  display: inline-block;
  padding: 0px;
}
li {
  width: 300px;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 10px;
  font-size: 20px;
  color: #333;
}
li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
li:last-child {
  border-bottom: 1px solid #aaa;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.destroy {
  display: inline;
}
.destroy button {
  float: right;
  margin: 0px;
  padding: 0px 2px;
  width: 24px;
  height: 24px;
}
.header {
  color: inherit;
  text-decoration: none;
}
.session-name {
  width: 300px;
  margin: 80px 0px 60px 0px;
}
#countdown {
  font-size: 85px;
  margin: 80px;
  text-shadow: #DDD 2px 2px 2px;
  color: #777;
  margin: 80px;
}
#minutes {
  width: 60px;
  text-align: center;
}
#toggle {
  width: 350px;
  font-size: 30px;
}
